{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
<h1>Post index</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for post in posts %}
    <div class="col">
        <div class="card shadow-sm">

            <div class="d-flex justify-content-center align-items-center" style="width:100%; height:255px; background: #353535">
                <h3 class="text-white">{{post.title }}</h3>
            </div>

            <div class="card-body">
                <p class="card-text">{{ post.meta }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{{ path('app_post_show', {'slug': post.slug}) }}"
                            class="btn btn-sm btn-outline-secondary">En savoir plus</a>
                        {% if app.user %}
                        <a href="{{ path('app_post_edit', {'slug': post.slug}) }}"
                            class="btn btn-sm btn-outline-secondary">Modifier</a>
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ post.updatedAt ? post.updatedAt|date('d-m-Y') : '' }}</small>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>Aucun article</p>
    {% endfor %}
</div>
{% if app.user %}
<a href="{{ path('app_post_new') }}" class="btn btn-sm btn-outline-secondary">Ajouter</a>
{% endif %}
{% endblock %}