{% extends 'base.html.twig' %}

{% block title %}Article : {{ post.title }}{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-8">
        {% if post.image is not null and post.image != 'null' %}
        <img src="{{ post.image }}" alt="Image de l'article" class="img-fluid mb-3">
        {% else %}
        <img src="https://picsum.photos/800/400" alt="Image de l'article" class="img-fluid mb-3">
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p class="text-muted">{{ post.updatedAt ? post.updatedAt|date('d-m-Y') : '' }}</p>
        <p>{{ post.content }}</p>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_post_edit', {'slug': post.slug}) }}" class="btn btn-sm btn-outline-secondary" stlye="display:inline; margin-right: 15px;">Modifier</a>
{% endif %}
{{ include('post/_delete_form.html.twig') }}

<h3>Liste des commentaires</h3>
<div id="commentaire">
{% for comment in comments %}
    <div style="display: block;margin-top: 20px;">
        <p style="display:inline"><b>{{ comment.getUser().getFirstName() }}</b>&nbsp;&nbsp;{{ comment.content }}</p>
        {% if comment.getUser() == user %}
            <a href="{{ path('app_comment_delete', {'id': comment.getId()}) }}" class="btn btn-danger" style="float:right;margin: 0;">Supprimer</a>
            <a href="{{ path('app_comment_edit', {'id': comment.getId()}) }}" class="btn btn-primary" style="float:right;margin: 0; margin-right: 5px;">Modifier</a>
        {% endif %}
    </div>
{% endfor %}
</div>

<div style="margin: 50px 0 10px 0; padding: 15px; border: 1px solid grey; border-radius: 5px;">
<h3>Poster un commentaire</h3>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-outline-secondary">{{ button_label|default('Commenter') }}</button>
{{ form_end(form) }}
</div>

<a href="{{ path('app_post_index') }}" class="btn btn-sm btn-outline-secondary">Retour à la liste</a>
{% endblock %}